@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-opaque-foreground: var(--opaque-foreground);
  --font-sans: var(--font-lato-sans);
  --font-mono: var(--font-lato-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-placeholder: var(--placeholder);
  --color-card-border: var(--card-border);
  --color-video-border: var(--video-border);
  --color-image-border: var(--image-border);
  --color-video-outline: var(--video-outline);
  --color-description: var(--description);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-opaque-secondary: var(--opaque-secondary);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-gradient-start: #FE4E13;
  --color-gradient-end: #7C5CA7;
}

:root {
  --radius: 0.625rem;

  --background: #FAFAFA;
  --foreground: #FFFFFF;

  --card: #CDD9EB;
  --card-foreground: #FFFFFF;

  --popover: #CDD9EB;
  --popover-foreground: #FFFFFF;

  --primary: #FFFFFF;
  --primary-foreground: #360B5B;

  --secondary: #360B5B;
  --secondary-foreground: #F8F7FC;

  --accent: #3969B0;
  --accent-foreground: #FFFFFF;

  --border: #E5E1F4;
  --card-border: #E9E5EF;
  --video-border: #2E343B;
  --image-border: #707070;
  --video-outline:#FFFFFF1A;
  --description:#404A5D;
  --input: #B8C5DB;
  --ring: #6A8EC4;

  --placeholder: #BBB5C0;

  --muted: #E9F6F7;
  --muted-foreground: #6a8ec4;

  --opaque-foreground: #FFFFFF33;
  --opaque-secondary:#360B5B33;

  --destructive: #F05B5B;
  --destructive-foreground: #FAFAFA;

  --chart-1: #F37C48;
  --chart-2: #3A998C;
  --chart-3: #2A3C48;
  --chart-4: #F1C252;
  --chart-5: #F6AD4E;

  --sidebar: oklch(0.985 0 0);
  --sidebar-background: #CDD9EB;
  --sidebar-foreground: #FFFFFF;
  --sidebar-primary: #07439C;
  --sidebar-primary-foreground: #FAFAFA;
  --sidebar-accent: #3969B0;
  --sidebar-accent-foreground: #FAFAFA;
  --sidebar-border: #E5E1F4;
  --sidebar-ring: #6A8EC4;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
